# Machine Learning-Used Car Price Predictor-Simple

In [181]:
import warnings
warnings.filterwarnings('ignore')

In [182]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine,inspect, func
from config import password
import matplotlib.pyplot as plt
import seaborn as sn
import sqlite3

In [183]:
con = sqlite3.connect("unnormcleanedcar.sqlite")
df = pd.read_sql_query("SELECT * from unnormalizedcarsdb", con)

In [184]:
df = df[['Price', 'Milage', 'Year', 'Model', 'Car Type']]

In [185]:
df.describe()

               Price         Milage          Year
count   23677.000000   23677.000000  23677.000000
mean    29529.070026   83959.113359   2016.588588
std     17251.225185   63801.946178      3.075055
min      1495.000000      10.000000   1995.000000
25%     16786.000000   37344.000000   2015.000000
50%     25985.000000   69000.000000   2017.000000
75%     38987.000000  116000.000000   2019.000000
max    169800.000000  500000.000000   2021.000000

In [186]:
df.shape

(23677, 5)

In [187]:
#label encoding
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder

le = preprocessing.LabelEncoder()

for i in range(0,df.shape[1]):
    if df.dtypes[i]=='object':
        df[df.columns[i]] = le.fit_transform(df[df.columns[i]])

In [188]:
df.head()

   Price  Milage  Year  Model  Car Type
0  33888   64965  2018    217        13
1  46980  100000  2018    217        13
2  29995   88300  2016    217        13
3  43701   74900  2020    217        13
4  49950   73987  2019    217        13

In [205]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()


scaleddf=scaler.fit_transform(df.values)

In [206]:
#splitting train and test data
from sklearn.model_selection import train_test_split

               
X = scaleddf[['Car Type','Model', 'Milage', 'Year']]
y= scaleddf['Price']
                
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=100)

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [204]:
X

       Car Type  Model  Milage  Year
0            13    217   64965  2018
1            13    217  100000  2018
2            13    217   88300  2016
3            13    217   74900  2020
4            13    217   73987  2019
5            13    217   58443  2018
6            13    217   74526  2016
7            13    217   35400  2016
8            13    217   79950  2019
9            13    217  133000  2016
10           13    217  170500  2018
11           13    217   33280  2016
12           13    217   19000  2018
13           13    217   31501  2016
14           13    217    8200  2016
15           13    217   80000  2017
16           13    217  104389  2017
17           13    217  205000  2018
18           13    217   20000  2016
19           13    217   79321  2020
20           13    217   63000  2020
21           13    217   83000  2020
22           13    217   29000  2019
23           13    217   51473  2017
24           13    217   43573  2016
25           13    217  122291  2018
26           13    217  190000  2017
27           13    217  166300  2018
28           13    217   69000  2018
29           13    217  222454  2017
...         ...    ...     ...   ...
23647        32    115   54500  2014
23648        20    527  128001  2003
23649         8    107   60771  1997
23650        20    183    8000  2018
23651        20    183  145123  2019
23652        20    183   79452  2020
23653        20    183   68509  2019
23654        20    183  175000  2020
23655         4     12   32823  2008
23656         4     32  176000  2016
23657        32    189   49635  2019
23658        32    189   29045  2019
23659        32    267  145159  2018
23660        32    267   75353  2018
23661        32    267   29533  2019
23662        32    114   23856  2016
23663        32    114   79857  2016
23664        32    123   71678  2017
23665        32    123  145888  2015
23666         4    316   36000  2020
23667        46    428  140000  2012
23668        13    467   68295  2020
23669        13    467  120891  2020
23670        13    467  117799  2020
23671        13    467   79000  2020
23672        37    377   11289  2019
23673        46    429   15734  2017
23674        46    429  111875  2018
23675         4     20   33393  2006
23676        42    302   47428  2011

[23677 rows x 4 columns]

In [200]:
#fitting the data in a linear regression model
from sklearn.linear_model import LinearRegression
from sklearn import metrics

lm = LinearRegression()
lm

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [201]:
lm.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [202]:
y_pred = lm.predict(X_test)

In [203]:
from sklearn.metrics import r2_score
r2_score(y_pred, y_test, multioutput='variance_weighted')

-1.45154203303382

In [155]:
lmdf = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
lmdf

       Actual     Predicted
14050    9300  14439.232288
16542   28993  40758.172850
21208   46163  42118.378288
1698    38895  36610.691985
2683    39999  30420.109248
7032    28000  36556.436733
12322   39492  35189.989984
16153    9500  19079.324313
12850   17500  20703.255227
16006   32888  36466.619886
4321     6900  12930.595761
2664    28700  33340.653211
19533   16669  21021.793801
17163   29995  29353.032926
9988    19396  33605.678646
29      29000  31173.944862
21225   27891  33260.055154
17409   20995  30192.233363
23579    4074  -9447.991822
10886   23994  30293.545555
1288    26968  31377.173410
6207    48748  36996.152066
13567   43000  31167.392909
19908   69990  26206.132860
78      47995  34352.302612
16853   26990  28516.967475
14879    7888  15444.517937
3142    34800  27451.900139
17115   17588  22482.359866
16396   32988  37108.575732
...       ...           ...
200     29995  31265.678826
2640    52344  33095.994194
22213   16290  30419.908987
6352    47462  36843.623263
19699   18795  24255.837357
11733   30995  36241.811078
2342    39023  39204.843575
17352   19888  27441.536090
16986    8500  37011.284356
4072    16388  24590.199497
1576    14991  16348.466594
9080    33081  37756.889807
16223   21989  26987.401937
9712    14000  21967.100130
20662   13995  22782.836793
19525   20995  29920.522547
566     31998  31203.126786
12088   32300  37934.593077
21467   15490  29699.764161
14550   15495  26515.522092
1547    21000  27991.978985
17986   58350  31295.439658
2148    33904  37824.878708
21622   44541  41319.608217
15379   53436  40374.444187
11415   51554  42116.942909
11173   25660  28952.831421
13779   49500  28289.061375
13939   33994  31307.602365
31      34645  28397.142021

[4736 rows x 2 columns]