In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
# Importing required modules
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
from bs4 import BeautifulSoup
import requests
import re
import pymongo
import pandas as pd
from sqlalchemy import create_engine,inspect, func
import numpy as np
import time
#from config import api_key

In [78]:
# This is to initialize Splinter for Windows users
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [79]:
# list to store extracted values

title_list=[]
year_list=[]
price_list=[]
loc_list=[]
date_list=[]
milage_list=[]
car_list=[]
model_list=[]
trans_list=[]

# loop to scrap website

url = "https://www.autotrader.ca/cars/?rcp=100&rcs=0&srt=9&prx=-1&hprc=True&wcp=True&sts=New-Used&inMarket=advancedSearch"
browser.visit(url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
results = soup.find_all('div', class_='newSRPDesign')

i=1

while i<=600:
    time.sleep(3)
  
    for result in results:
        
        try:
    
            # scrape the price
            price = result.find('span', class_='price-amount').text
            price_list.append(price)
            # scrape the  Title
            ctitle = result.find('div', class_='listing-details').h2.a.span.text
            #words=['lease', 'take over', 'finance', 'financing', 'leasing', 'takeover', 'financed', 'leased', 'transfer', 'transferring']
            #for word in words:
            
                #if word in result.find('div', class_='title').text.split():
                    #print('a listing including lease or finance was removed')
                #elif word in result.find('div', class_='description').text.split():
                    #print('a listing including lease or finance was removed')
                #else:
            btitle= ctitle.split('\n')[1].replace('                                    ','')
            title = btitle.split('                                    ')[0]
            year = title.split(" ")[0]
            cartype= title.split(" ")[1]
            model = title.split(" ")[2]
            title_list.append(title)
            year_list.append(year)
            car_list.append(cartype)
            model_list.append(model)
         
            
            
        # scrape the  Location
            #location = result.find('div', class_='location').text.split()[0]
            #loc_list.append(location)
        
         
        
        
        
        # scrape the  Date
            #date = result.find('span', class_='date-posted').text
            #date_list.append(date)
        # scrape the  details
            details = result.find('div', class_='kms').text#.split('"')[0]         
            milage=details
           
            
            milage_list.append(milage)            
   
    
        except AttributeError:
            date=''
        except IndexError:
            cartype=''
            model=''
    time.sleep(3)
    browser.find_link_by_text(1+i).first.click()
    
    i=i+1
# store the extracted valuse in dictionary            
Dict={}
Dict["Title"]=title_list
Dict["Car Type"]=car_list
Dict["Model"]=model_list
Dict["Price"]=price_list
#Dict["Location"]=loc_list
#Dict["Date"]=date_list
Dict["Milage"]=milage_list
Dict["Year"]=year_list
#Dict["Transmission"]=trans_list

In [112]:
df=pd.DataFrame.from_dict(Dict, orient='index')
df=df.transpose()

In [113]:
df

,Title,Car Type,Model,Price,Milage,Year
0,2017 GMC Sierra 1500 4WD Crew Cab 143.5 SLT,GMC,Sierra,"$42,984","\nMileage 82,394 km\n ...",2017
1,2014 Ford Mustang V6 PREMIUM 3.7L ONLY 70K,Ford,Mustang,"$16,995","\nMileage 70,044 km\n ...",2014
2,2016 Volkswagen Jetta Sedan 4dr 1.8 TSI Auto H...,Volkswagen,Jetta,"$17,868","\nMileage 44,455 km\n ...",2016
3,2014 Honda Civic Coupe 2drEX |SUNROOF |HEATED ...,Honda,Civic,"$10,888","\nMileage 95,279 km\n ...",2014
4,2018 Chevrolet Silverado 1500 Spray Bed Liner|...,Chevrolet,Silverado,"$36,898","\nMileage 120,689 km\n ...",2018
5,2014 Jeep Cherokee North 4 cyl DÉMARREUR ET GR...,Jeep,Cherokee,"$13,948","\nMileage 53,092 km\n ...",2014
6,2015 Nissan Sentra 4dr Sdn CVT SV / Back up ca...,Nissan,Sentra,"$15,888","\nMileage 79,174 km\n ...",2015
7,2010 Dodge Challenger R/T **JUST IN TIME FOR S...,Dodge,Challenger,"$26,950","\nMileage 110,231 km\n ...",2010
8,2013 Audi A3 Progressiv,Audi,A3,"$12,477","\nMileage 82,000 km\n ...",2013
9,2011 BMW X5 AWD w/360° Camera/Navi/Panroof/LOW...,BMW,X5,"$13,999","\nMileage 49,115 km\n ...",2011
10,2018 Mercedes-Benz GLE-Class 2018 Mercedes-Ben...,Mercedes-Benz,GLE-Class,"$59,666","\nMileage 8,051 km\n ...",2018
11,2019 Honda CR-V Touring,Honda,CR-V,"$37,999","\nMileage 146,000 km\n ...",2019
12,2008 BMW 335i Hardtop Convertible,BMW,335i,"$14,000","\nMileage 110,432 km\n ...",2008
13,2017 Nissan Rogue AWD 4dr SV,Nissan,Rogue,"$17,499",\nMileage 300 km\n ...,2017
14,2002 Volkswagen Beetle,Volkswagen,Beetle,"$2,500","\nMileage 227,335 km\n ...",2002
15,2008 Hyundai Accent 3dr HB Man GL,Hyundai,Accent,"$2,900","\nMileage 130,000 km\n ...",2008
16,2009 Nissan Versa 4dr Sdn I4 Auto 1.6 S,Nissan,Versa,"$3,999","\nMileage 108,000 km\n ...",2009
17,2009 Buick Lucerne 4dr Sdn CXL,Buick,Lucerne,"$8,000","\nMileage 72,222 km\n ...",2009
18,2007 Porsche 911T turbo,Porsche,911T,"$89,995","\nMileage 140,000 km\n ...",2007
19,2007 Jeep Compass 4WD 4dr Sport,Jeep,Compass,"$4,200","\nMileage 85,000 km\n ...",2007
20,1974 Triumph TR6,Triumph,TR6,"$17,500","\nMileage 144,000 km\n ...",1974
21,2011 Volkswagen Jetta 4dr 2.0L Auto Trendline,Volkswagen,Jetta,"$5,403","\nMileage 144,000 km\n ...",2011
22,2007 Jeep Compass 4WD 4dr Sport,Jeep,Compass,"$4,200",\nMileage 35 km\n,2007
23,2020 Porsche Cayenne,Porsche,Cayenne,"$97,390",\nMileage 35 km\n,2020
24,2020 Porsche 911 Carrera S (992) Carrera S,Porsche,911,"$153,440","\nMileage 11,250 km\n ...",2020
25,2019 Porsche 718 Cayman,Porsche,718,"$69,995",\nMileage 35 km\n,2019
26,2019 Porsche Macan S,Porsche,Macan,"$85,740",\nMileage 35 km\n,2019
27,2019 Porsche Panamera 4S,Porsche,Panamera,"$166,210",\nMileage 35 km\n,2019
28,2019 Porsche Cayenne E-Hybrid,Porsche,Cayenne,"$114,700",\nMileage 35 km\n,2019
29,2019 Porsche Panamera 4 Sport Turismo 4,Porsche,Panamera,"$127,510",\nMileage 35 km\n,2019
...,...,...,...,...,...,...
67170,2020 GMC Sierra 1500,GMC,Sierra,"$41,158",None,2020
67171,2020 Cadillac XT6 Premium Luxury,Cadillac,XT6,"$65,493",None,2020
67172,2020 Chevrolet Silverado 1500 LT Trail Boss,Chevrolet,Silverado,"$57,563",None,2020
67173,2020 GMC Sierra 1500 AT4,GMC,Sierra,"$66,703",None,2020
67174,2020 Hyundai Elantra Luxury,Hyundai,Elantra,"$26,309",None,2020
67175,2020 Hyundai Tucson ESSENTIAL,Hyundai,Tucson,"$29,959",None,2020
67176,2020 Hyundai Venue Preferred,Hyundai,Venue,"$23,609",None,2020
67177,2020 Lexus UX 250H,Lexus,UX,"$42,171",None,2020
67178,2020 Lexus NX 300,Lexus,NX,"$59,271",None,2020
67179,2020 Lexus UX 250H,Lexus,UX,"$42,171",None,2020
67180,2020 Lexus UX 250H,Lexus,UX,"$51,721",None,2020
67181,2020 Lexus NX 300,Lexus,NX,"$46,521",None,2020
67182,2020 Lexus UX 250H,Lexus,UX,"$44,921",None,2020
67183,2020 Lexus NX 300h,Lexus,NX,"$52,971",None,2020
67184,2020 Lexus NX 300,Lexus,NX,"$53,821",None,2020
67185,2020 Lexus UX 250H,Lexus,UX,"$42,171",None,2020
67186,2020 Chevrolet Corvette 2dr Stingray Conv w/2LT,Chevrolet,Corvette,"$110,000",None,2020
67187,2005 Jeep Grand Cherokee 4dr Laredo,Jeep,Grand,"$3,200",None,2005
67188,2016 Cadillac CTS 4dr Sdn 3.6L Luxury Collecti...,Cadillac,CTS,"$29,499",None,2016
67189,2019 Lexus NX NX 300 Auto,Lexus,NX,"$35,899",None,2019
67190,2008 Subaru 4 Dr Impreza WRX,Subaru,4,"$6,500",None,2008
67191,2011 Ford Ranger 4WD SuperCab 126 Sport,Ford,Ranger,"$10,900",None,2011
67192,2002 BMW X5 X5 4dr AWD 3.0i,BMW,X5,"$2,200",None,2002
67193,2018 Ford Mustang Shelby GT350R Fastback,Ford,Mustang,"$94,900",None,2018
67194,1978 Porsche 911 911SC Targa,Porsche,911,"$19,000",None,1978
67195,1999 Chrysler Prowler Cabriolet,Chrysler,Prowler,"$38,000",None,1999
67196,1969 Plymouth Road Runner,Plymouth,Road,"$26,500",None,1969
67197,2016 Acura MDX Elite Package,Acura,MDX,"$33,870",None,2016
67198,2017 Toyota RAV4 AWD 4dr LE,Toyota,RAV4,"$22,998",None,2017
67199,2015 Toyota Corolla 4dr Sdn CVT LE,Toyota,Corolla,"$13,998",None,2015

In [114]:
df["Price"] = df["Price"].str.replace("$", "")
df["Price"] = df["Price"].str.replace(",", "")
df["Milage"] = df["Milage"].str.replace(",", "")
df["Milage"] = df["Milage"].str.replace("\nMileage", "")
df["Milage"] = df["Milage"].str.replace("\n", "")
df["Milage"] = df["Milage"].str.replace("km", "")

In [115]:
df.reset_index()
df.dropna()
df.drop_duplicates()
df = df.mask(df.eq('None')).dropna()

In [116]:
df

,Title,Car Type,Model,Price,Milage,Year
0,2017 GMC Sierra 1500 4WD Crew Cab 143.5 SLT,GMC,Sierra,42984,82394,2017
1,2014 Ford Mustang V6 PREMIUM 3.7L ONLY 70K,Ford,Mustang,16995,70044,2014
2,2016 Volkswagen Jetta Sedan 4dr 1.8 TSI Auto H...,Volkswagen,Jetta,17868,44455,2016
3,2014 Honda Civic Coupe 2drEX |SUNROOF |HEATED ...,Honda,Civic,10888,95279,2014
4,2018 Chevrolet Silverado 1500 Spray Bed Liner|...,Chevrolet,Silverado,36898,120689,2018
5,2014 Jeep Cherokee North 4 cyl DÉMARREUR ET GR...,Jeep,Cherokee,13948,53092,2014
6,2015 Nissan Sentra 4dr Sdn CVT SV / Back up ca...,Nissan,Sentra,15888,79174,2015
7,2010 Dodge Challenger R/T **JUST IN TIME FOR S...,Dodge,Challenger,26950,110231,2010
8,2013 Audi A3 Progressiv,Audi,A3,12477,82000,2013
9,2011 BMW X5 AWD w/360° Camera/Navi/Panroof/LOW...,BMW,X5,13999,49115,2011
10,2018 Mercedes-Benz GLE-Class 2018 Mercedes-Ben...,Mercedes-Benz,GLE-Class,59666,8051,2018
11,2019 Honda CR-V Touring,Honda,CR-V,37999,146000,2019
12,2008 BMW 335i Hardtop Convertible,BMW,335i,14000,110432,2008
13,2017 Nissan Rogue AWD 4dr SV,Nissan,Rogue,17499,300,2017
14,2002 Volkswagen Beetle,Volkswagen,Beetle,2500,227335,2002
15,2008 Hyundai Accent 3dr HB Man GL,Hyundai,Accent,2900,130000,2008
16,2009 Nissan Versa 4dr Sdn I4 Auto 1.6 S,Nissan,Versa,3999,108000,2009
17,2009 Buick Lucerne 4dr Sdn CXL,Buick,Lucerne,8000,72222,2009
18,2007 Porsche 911T turbo,Porsche,911T,89995,140000,2007
19,2007 Jeep Compass 4WD 4dr Sport,Jeep,Compass,4200,85000,2007
20,1974 Triumph TR6,Triumph,TR6,17500,144000,1974
21,2011 Volkswagen Jetta 4dr 2.0L Auto Trendline,Volkswagen,Jetta,5403,144000,2011
22,2007 Jeep Compass 4WD 4dr Sport,Jeep,Compass,4200,35,2007
23,2020 Porsche Cayenne,Porsche,Cayenne,97390,35,2020
24,2020 Porsche 911 Carrera S (992) Carrera S,Porsche,911,153440,11250,2020
25,2019 Porsche 718 Cayman,Porsche,718,69995,35,2019
26,2019 Porsche Macan S,Porsche,Macan,85740,35,2019
27,2019 Porsche Panamera 4S,Porsche,Panamera,166210,35,2019
28,2019 Porsche Cayenne E-Hybrid,Porsche,Cayenne,114700,35,2019
29,2019 Porsche Panamera 4 Sport Turismo 4,Porsche,Panamera,127510,35,2019
...,...,...,...,...,...,...
56370,2019 Porsche 718 Boxster GTS S,Porsche,718,113775,135684,2019
56371,2018 Porsche 718 Cayman S,Porsche,718,85995,70000,2018
56372,2015 Audi A6 s-line,Audi,A6,20995,96500,2015
56373,2016 Jeep Wrangler 4WD 2dr Sport,Jeep,Wrangler,22900,3600,2016
56374,2007 Honda Accord 4dr V6 MT EX,Honda,Accord,900,180000,2007
56375,2015 Hyundai Santa Fe Sport LUXURY - Sunroof,Hyundai,Santa,15988,150000,2015
56376,2014 Hyundai Santa Fe Sport PREMIUM,Hyundai,Santa,10988,96000,2014
56377,2013 Hyundai Santa Fe LIMITED,Hyundai,Santa,10988,33360,2013
56378,2011 Hyundai Santa Fe GL PREMIUM,Hyundai,Santa,9988,124600,2011
56379,2013 Hyundai Accent GL - NO PAYMENTS FOR 6 MO...,Hyundai,Accent,6888,92000,2013
56380,2005 Kia Sedona 4dr EX,Kia,Sedona,1950,111000,2005
56381,2004 Nissan 350Z ROADSTER ROADSTER,Nissan,350Z,10999,9495,2004
56382,2014 Ford Edge 4dr Limited AWD,Ford,Edge,20000,89500,2014
56383,2015 Chevrolet Camaro 2dr Cpe LT w/2LT,Chevrolet,Camaro,17500,118000,2015
56384,2013 Nissan Juke 5dr Wgn CVT SV AWD,Nissan,Juke,10500,340000,2013
56385,1993 Ford Mustang Lx limited edition,Ford,Mustang,12500,25000,1993
56386,2007 Audi A4 2007 2dr Cabrio Auto 3.2L quattro,Audi,A4,8900,500,2007
56387,2011 Audi TT 2dr Roadster quattro 2.0T S Line,Audi,TT,16000,210000,2011
56388,2011 Volkswagen Tiguan 4dr Auto Comfortline 4M...,Volkswagen,Tiguan,6652,55000,2011
56389,2004 Dodge Ram 1500 4dr Quad Cab 140 WB 4WD SLT,Dodge,Ram,750,15926,2004
56390,2008 BMW M3,BMW,M3,26000,159943,2008
56391,2020 Kia Sedona LX+ 8 PASS,Kia,Sedona,27990,60000,2020
56392,2016 Toyota Venza XLE 2.7L AWD SUV --- THIS CA...,Toyota,Venza,22990,265000,2016
56393,2018 Toyota Corolla LE UPGRADE,Toyota,Corolla,17990,4520,2018
56394,2013 Kia Sportage EX,Kia,Sportage,18995,89000,2013
56395,2017 Ford F-350,Ford,F-350,49310,40000,2017
56396,2014 Chevrolet Corvette Stingray 2dr Cpe 2LT,Chevrolet,Corvette,48750,88000,2014
56397,2015 Volkswagen Jetta 4dr 2.0L Auto Trendline+,Volkswagen,Jetta,10500,24375,2015
56398,2018 Chevrolet Silverado 1500 4WD Crew Cab 153...,Chevrolet,Silverado,50000,53716,2018
56399,2009 Toyota Venza 4dr Wgn AWD,Toyota,Venza,10500,66876,2009

In [117]:
df.describe()

,Title,Car Type,Model,Price,Milage,Year
count,56400,56400,56400,56400,56400,56400
unique,103,26,72,100,80,22
top,2020 Lexus UX 250H,Porsche,UX,10500,35,2020
freq,2515,7559,2515,2015,5400,10566

In [118]:
from config import password
connection_string = "postgres:"+password+"@localhost:5432/hondadb"
engine = create_engine(f'postgresql://{connection_string}')

In [119]:
# Confirm tables
#engine.table_names()
inspector = inspect(engine)
inspector.get_table_names()

['cleanedhondadb2', 'cleanedhondadb', 'cardb', 'hondadb']

In [120]:
inspector.get_columns("cardb")

[{'name': 'index',
  'type': BIGINT(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'Title',
  'type': TEXT(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'Car Type',
  'type': TEXT(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'Model',
  'type': TEXT(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'Price',
  'type': TEXT(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'Milage',
  'type': TEXT(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'Year',
  'type': TEXT(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None}]

In [121]:
df.to_sql(name='cardb', con=engine, if_exists='replace', index=True)

In [122]:
sql_DF = pd.read_sql("SELECT * FROM cardb",
                     con=engine)

In [123]:
sql_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56400 entries, 0 to 56399
Data columns (total 7 columns):
index       56400 non-null int64
Title       56400 non-null object
Car Type    56400 non-null object
Model       56400 non-null object
Price       56400 non-null object
Milage      56400 non-null object
Year        56400 non-null object
dtypes: int64(1), object(6)
memory usage: 3.0+ MB