# Linear Regression-Used Car Price Predictor-Simple

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [10]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine,inspect, func
from config import password
import matplotlib.pyplot as plt
import seaborn as sn

In [3]:
#Connecting to the sql database
connection_string = "postgres:"+password+"@localhost:5432/hondadb"
engine = create_engine(f'postgresql://{connection_string}')

In [4]:
#reading the data from sql
df_cleaned = pd.read_sql("SELECT * FROM cleanedcardb2",
                     con=engine)

In [5]:
df_cleaned = df_cleaned[['Price', 'Milage', 'Year', 'Model', 'Car Type']]

In [6]:
df_cleaned.describe()

              Price         Milage          Year
count  23677.000000   23677.000000  23677.000000
mean      10.125652   83959.113359   2016.588588
std        0.600556   63801.946178      3.075055
min        7.309881      10.000000   1995.000000
25%        9.728300   37344.000000   2015.000000
50%       10.165275   69000.000000   2017.000000
75%       10.570984  116000.000000   2019.000000
max       12.042377  500000.000000   2021.000000

In [12]:
df_cleaned.shape

(23677, 5)

In [33]:
#label encoding
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder

le = preprocessing.LabelEncoder()

for i in range(0,df_cleaned.shape[1]):
    if df_cleaned.dtypes[i]=='object':
        df_cleaned[df_cleaned.columns[i]] = le.fit_transform(df_cleaned[df_cleaned.columns[i]])

In [35]:
df_cleaned.head()

       Price  Milage  Year  Model  Car Type
0  10.430816   64965  2018    217        13
1  10.757477  100000  2018    217        13
2  10.308786   88300  2016    217        13
3  10.685126   74900  2020    217        13
4  10.818778   73987  2019    217        13

In [37]:
#splitting train and test data
from sklearn.model_selection import train_test_split

               
X = df_cleaned[['Car Type','Model', 'Milage', 'Year']]
y= df_cleaned['Price']
                
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=100)

In [38]:
#fitting the data in a linear regression model
from sklearn.linear_model import LinearRegression
from sklearn import metrics

lm = LinearRegression()
lm

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [40]:
lm.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [41]:
Yhat=lm.predict(X)
Yhat[0:5]

array([10.32593361, 10.3243698 , 10.07298224, 10.57739995, 10.4514858 ])