# Web Scraping for Used Car Prices from Autotrader.ca

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Importing required modules
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
from bs4 import BeautifulSoup
import requests
import re
import pymongo
import pandas as pd
from sqlalchemy import create_engine,inspect, func
import numpy as np
import time
#from config import api_key

In [14]:
# This is to initialize Splinter for Windows users
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [15]:
# list to store extracted values

title_list=[]
year_list=[]
price_list=[]
loc_list=[]
date_list=[]
milage_list=[]
car_list=[]
model_list=[]
trans_list=[]

# loop to scrap website

url = "https://www.autotrader.ca/cars/?rcp=15&rcs=0&srt=9&prx=-1&hprc=True&wcp=True&sts=New-Used&inMarket=advancedSearch"
browser.visit(url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')



i=1

while i<=3:
    
    
    results = soup.find_all('div', class_='newSRPDesign')
  
    for result in results:
       
        
        try:
            
            # scrape the price
            price = result.find('span', class_='price-amount').text
            price_list.append(price)
            # scrape the  Title
            ctitle = result.find('div', class_='listing-details').h2.a.span.text
            #words=['lease', 'take over', 'finance', 'financing', 'leasing', 'takeover', 'financed', 'leased', 'transfer', 'transferring']
            #for word in words:
            
                #if word in result.find('div', class_='title').text.split():
                    #print('a listing including lease or finance was removed')
                #elif word in result.find('div', class_='description').text.split():
                    #print('a listing including lease or finance was removed')
                #else:
            btitle= ctitle.split('\n')[1].replace('                                    ','')
            title = btitle.split('                                    ')[0]
            year = title.split(" ")[0]
            cartype= title.split(" ")[1]
            model = title.split(" ")[2]
            title_list.append(title)
            year_list.append(year)
            car_list.append(cartype)
            model_list.append(model)
         
            
            
        # scrape the  Location
            #location = result.find('div', class_='location').text.split()[0]
            #loc_list.append(location)
        
         
        
        
        
        # scrape the  Date
            #date = result.find('span', class_='date-posted').text
            #date_list.append(date)
        # scrape the  details
            details = result.find('div', class_='kms').text#.split('"')[0]         
            milage=details
           
            
            milage_list.append(milage)            
   
    
        except AttributeError:
            date=''
        except IndexError:
            cartype=''
            model=''
    
    browser.find_link_by_text(1+i).first.click()
    i=i+1    
# store the extracted valuse in dictionary            
Dict={}
Dict["Title"]=title_list
Dict["Car Type"]=car_list
Dict["Model"]=model_list
Dict["Price"]=price_list
#Dict["Location"]=loc_list
#Dict["Date"]=date_list
Dict["Milage"]=milage_list
Dict["Year"]=year_list
#Dict["Transmission"]=trans_list

In [16]:
df=pd.DataFrame.from_dict(Dict, orient='index')
df=df.transpose()
df

,Title,Car Type,Model,Price,Milage,Year
0,2017 Subaru WRX STi STI Sport Manuelle ***?qui...,Subaru,WRX,"$32,690","\nMileage 43,944 km\n ...",2017
1,2020 Jeep WRANGLER UNLIMITED Sahara,Jeep,WRANGLER,"$44,385","\nMileage 16,929 km\n ...",2020
2,2016 Toyota Corolla CE AUTO | ONLY 16 900KM,Toyota,Corolla,"$15,994","\nMileage 108,993 km\n ...",2016
3,2020 Ford Escape SE,Ford,Escape,"$33,765","\nMileage 73,640 km\n ...",2020
4,2017 Honda Pilot TOURING + 7 PLACES + DVD + WOW!!,Honda,Pilot,"$27,989","\nMileage 61,798 km\n ...",2017
5,2014 Jeep Cherokee NORTH V6 *PNEUS+FREINS NEUFS*,Jeep,Cherokee,"$14,991","\nMileage 138,135 km\n ...",2014
6,2016 Jeep Grand Cherokee Summit *Accident Free...,Jeep,Grand,"$35,987","\nMileage 24,728 km\n ...",2016
7,2016 Chevrolet Equinox LS AUTO A/C H/SEATS BAC...,Chevrolet,Equinox,"$10,966","\nMileage 6,296 km\n ...",2016
8,"2019 Subaru Outback TOURING 2.5 TOIT OUVRANT, ...",Subaru,Outback,"$28,800","\nMileage 7,000 km\n ...",2019
9,2018 Chevrolet Corvette Stingray,Chevrolet,Corvette,"$66,995","\nMileage 160,000 km\n ...",2018
10,2019 Ford F-150 Platinum,Ford,F-150,"$65,893","\nMileage 51,000 km\n ...",2019
11,2019 Mercedes-Benz GLC300 4MATIC SUV,Mercedes-Benz,GLC300,"$48,595","\nMileage 131,365 km\n ...",2019
12,2008 Mazda Mazdaspeed3,Mazda,Mazdaspeed3,"$9,200","\nMileage 138,000 km\n ...",2008
13,1979 Ferrari 308 GTS,Ferrari,308,"$28,000","\nMileage 47,700 km\n ...",1979
14,"2005 Pontiac Sunfire 4dr Sdn SLX LowKms, FREE ...",Pontiac,Sunfire,"$2,900","\nMileage 142,201 km\n ...",2005
15,2010 GMC SIERRA 2500HD 2WD Ext Cab 143.5 SLT,GMC,SIERRA,"$19,950","\nMileage 90,214 km\n ...",2010
16,2011 Audi R8 2dr Cpe Auto 5.2L,Audi,R8,"$30,500","\nMileage 46,000 km\n ...",2011
17,2009 Ford Escape 4WD 4dr V6 Auto Limited Navig...,Ford,Escape,"$7,900","\nMileage 385,532 km\n ...",2009
18,2010 Acura TL 4dr Sdn Auto SH-AWD,Acura,TL,"$2,500","\nMileage 19,500 km\n ...",2010
19,2017 Audi Q7 quattro 4dr 3.0T Progressiv,Audi,Q7,"$20,400","\nMileage 41,277 km\n ...",2017
20,2004 Jeep Grand Cherokee 4dr Laredo 4WD,Jeep,Grand,$700,"\nMileage 46,996 km\n ...",2004
21,2019 BMW X3 xDrive30i Sports Activity Vehicle,BMW,X3,"$42,995","\nMileage 33,440 km\n ...",2019
22,1960 Alfa Romeo Giulia,Alfa,Romeo,"$35,000","\nMileage 51,560 km\n ...",1960
23,2013 Mercedes-AMG C-Class,Mercedes-AMG,C-Class,"$42,000","\nMileage 61,528 km\n ...",2013
24,2017 BMW X1 112$/SEMAINE PROMO TOUT INCLUS*,BMW,X1,"$27,995","\nMileage 43,944 km\n ...",2017
25,2019 BMW X5 Premium Excellence | M Sport | XOf...,BMW,X5,"$62,995","\nMileage 16,929 km\n ...",2019
26,2018 BMW 4 Series Nouvel Arrivage | M Performa...,BMW,4,"$45,998","\nMileage 108,993 km\n ...",2018
27,2017 Subaru WRX STi STI Sport Manuelle ***?qui...,Subaru,WRX,"$32,690","\nMileage 73,640 km\n ...",2017
28,2020 Jeep WRANGLER UNLIMITED Sahara,Jeep,WRANGLER,"$44,385","\nMileage 61,798 km\n ...",2020
29,2016 Toyota Corolla CE AUTO | ONLY 16 900KM,Toyota,Corolla,"$15,994","\nMileage 138,135 km\n ...",2016
...,...,...,...,...,...,...
51,2017 BMW X1 112$/SEMAINE PROMO TOUT INCLUS*,BMW,X1,"$27,995","\nMileage 73,640 km\n ...",2017
52,2019 BMW X5 Premium Excellence | M Sport | XOf...,BMW,X5,"$62,995","\nMileage 61,798 km\n ...",2019
53,2018 BMW 4 Series Nouvel Arrivage | M Performa...,BMW,4,"$45,998","\nMileage 138,135 km\n ...",2018
54,2017 Subaru WRX STi STI Sport Manuelle ***?qui...,Subaru,WRX,"$32,690","\nMileage 24,728 km\n ...",2017
55,2020 Jeep WRANGLER UNLIMITED Sahara,Jeep,WRANGLER,"$44,385","\nMileage 6,296 km\n ...",2020
56,2016 Toyota Corolla CE AUTO | ONLY 16 900KM,Toyota,Corolla,"$15,994","\nMileage 7,000 km\n ...",2016
57,2020 Ford Escape SE,Ford,Escape,"$33,765","\nMileage 160,000 km\n ...",2020
58,2017 Honda Pilot TOURING + 7 PLACES + DVD + WOW!!,Honda,Pilot,"$27,989","\nMileage 51,000 km\n ...",2017
59,2014 Jeep Cherokee NORTH V6 *PNEUS+FREINS NEUFS*,Jeep,Cherokee,"$14,991","\nMileage 131,365 km\n ...",2014
60,2016 Jeep Grand Cherokee Summit *Accident Free...,Jeep,Grand,"$35,987","\nMileage 138,000 km\n ...",2016
61,2016 Chevrolet Equinox LS AUTO A/C H/SEATS BAC...,Chevrolet,Equinox,"$10,966","\nMileage 47,700 km\n ...",2016
62,"2019 Subaru Outback TOURING 2.5 TOIT OUVRANT, ...",Subaru,Outback,"$28,800","\nMileage 142,201 km\n ...",2019
63,2018 Chevrolet Corvette Stingray,Chevrolet,Corvette,"$66,995","\nMileage 90,214 km\n ...",2018
64,2019 Ford F-150 Platinum,Ford,F-150,"$65,893","\nMileage 46,000 km\n ...",2019
65,2019 Mercedes-Benz GLC300 4MATIC SUV,Mercedes-Benz,GLC300,"$48,595","\nMileage 385,532 km\n ...",2019
66,2008 Mazda Mazdaspeed3,Mazda,Mazdaspeed3,"$9,200","\nMileage 19,500 km\n ...",2008
67,1979 Ferrari 308 GTS,Ferrari,308,"$28,000","\nMileage 41,277 km\n ...",1979
68,"2005 Pontiac Sunfire 4dr Sdn SLX LowKms, FREE ...",Pontiac,Sunfire,"$2,900","\nMileage 46,996 km\n ...",2005
69,2010 GMC SIERRA 2500HD 2WD Ext Cab 143.5 SLT,GMC,SIERRA,"$19,950","\nMileage 33,440 km\n ...",2010
70,2011 Audi R8 2dr Cpe Auto 5.2L,Audi,R8,"$30,500","\nMileage 51,560 km\n ...",2011
71,2009 Ford Escape 4WD 4dr V6 Auto Limited Navig...,Ford,Escape,"$7,900","\nMileage 61,528 km\n ...",2009
72,2010 Acura TL 4dr Sdn Auto SH-AWD,Acura,TL,"$2,500",None,2010
73,2017 Audi Q7 quattro 4dr 3.0T Progressiv,Audi,Q7,"$20,400",None,2017
74,2004 Jeep Grand Cherokee 4dr Laredo 4WD,Jeep,Grand,$700,None,2004
75,2019 BMW X3 xDrive30i Sports Activity Vehicle,BMW,X3,"$42,995",None,2019
76,1960 Alfa Romeo Giulia,Alfa,Romeo,"$35,000",None,1960
77,2013 Mercedes-AMG C-Class,Mercedes-AMG,C-Class,"$42,000",None,2013
78,2017 BMW X1 112$/SEMAINE PROMO TOUT INCLUS*,BMW,X1,"$27,995",None,2017
79,2019 BMW X5 Premium Excellence | M Sport | XOf...,BMW,X5,"$62,995",None,2019
80,2018 BMW 4 Series Nouvel Arrivage | M Performa...,BMW,4,"$45,998",None,2018

In [17]:
df['Title'].value_counts()

2010 Acura TL 4dr Sdn Auto SH-AWD                                        3
2014 Jeep Cherokee NORTH V6 *PNEUS+FREINS NEUFS*                         3
2011 Audi R8 2dr Cpe Auto 5.2L                                           3
2005 Pontiac Sunfire 4dr Sdn SLX LowKms, FREE Warranty!!                 3
2019 BMW X5 Premium Excellence | M Sport | XOffroad | Air Susp           3
1979 Ferrari 308 GTS                                                     3
2009 Ford Escape 4WD 4dr V6 Auto Limited Navigation, Warranty!!          3
2019 Subaru Outback TOURING 2.5 TOIT OUVRANT, PHARES ANTIBROUILLARD,     3
2020 Jeep WRANGLER UNLIMITED Sahara                                      3
2004 Jeep Grand Cherokee 4dr Laredo 4WD                                  3
2010 GMC SIERRA 2500HD 2WD Ext Cab 143.5 SLT                             3
2019 Mercedes-Benz GLC300 4MATIC SUV                                     3
2016 Jeep Grand Cherokee Summit *Accident Free | Leather | NAV | 4X4*    3
2019 Ford F-150 Platinum                                                 3
2020 Ford Escape SE                                                      3
2017 BMW X1 112$/SEMAINE PROMO TOUT INCLUS*                              3
1960 Alfa Romeo Giulia                                                   3
2019 BMW X3 xDrive30i Sports Activity Vehicle                            3
2017 Audi Q7 quattro 4dr 3.0T Progressiv                                 3
2018 Chevrolet Corvette Stingray                                         3
2013 Mercedes-AMG C-Class                                                3
2008 Mazda Mazdaspeed3                                                   3
2016 Chevrolet Equinox LS AUTO A/C H/SEATS BACKUP CAMERA 138K            3
2018 BMW 4 Series Nouvel Arrivage | M Performance Pack |                 3
2017 Honda Pilot TOURING + 7 PLACES + DVD + WOW!!                        3
2017 Subaru WRX STi STI Sport Manuelle ***?quipements Add.**             3
2016 Toyota Corolla CE AUTO | ONLY 16 900KM                              3
Name: Title, dtype: int64

In [ ]:
df["Price"] = df["Price"].str.replace("$", "")
df["Price"] = df["Price"].str.replace(",", "")
df["Milage"] = df["Milage"].str.replace(",", "")
df["Milage"] = df["Milage"].str.replace("\nMileage", "")
df["Milage"] = df["Milage"].str.replace("\n", "")
df["Milage"] = df["Milage"].str.replace("km", "")

In [ ]:
df.reset_index()
df.dropna()
df.drop_duplicates()
df = df.mask(df.eq('None')).dropna()

In [ ]:
df

In [ ]:
df['Milage'].value_count()

In [ ]:
from config import password
connection_string = "postgres:"+password+"@localhost:5432/hondadb"
engine = create_engine(f'postgresql://{connection_string}')

In [ ]:
# Confirm tables
#engine.table_names()
inspector = inspect(engine)
inspector.get_table_names()

In [ ]:
inspector.get_columns("cardb")

In [ ]:
df.to_sql(name='cardb', con=engine, if_exists='replace', index=True)

In [ ]:
sql_DF = pd.read_sql("SELECT * FROM cardb",
                     con=engine)

In [ ]:
sql_DF.info()